nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}


.navbarMenu{
    display: flex;
    align-items: center;
    gap: 10px;
    /* color: #3B3B3B; */

}

.navbarMenu *{
    padding: 10px;
    border-radius: 20px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.activeTab{
    background-color: #f4f4f4;
    color: black;
}