.chooseASlot {
  z-index: 1;
  margin-top: 30px;
  position: relative;
  width: 500px;
  height: 300px;
}

.FlexRow {
  display: flex;
  flex-direction: row;
}

.slotPickerWrapper {
  height: 580px;
}
